main{
    width: 100%;
    float: left;    
    margin: 20px auto;
}

main figure{
    width: 100%;    
    max-width: 235px;
    float: left;
    overflow: hidden;
    position: relative;
    margin: 0;
}

main figure img{
    float: left;
    width: 100%
}

main figure figcaption{
    width: 100%;
    height: 127px;    
    text-indent: 100%;
    white-space: nowrap;        
    position: absolute;    
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;    
}

main figure figcaption:hover{
    text-indent: 0% !important;
    white-space: normal !important;          
    background: rgba(0,0,0, 0.5); 
}

main figure figcaption a{
    width: 92%;
    height: 127px;
    display: block;            
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: arial;
    line-height: 20px;    
    padding: 10px;         
}
